html, body, #root {
    min-height: 100%;
    height: 100%;
    
    * {
        transition: all .3s ease;
    }
    
    .mapboxgl-map {
        &, & * {
            transition: none;
        }
    }
}

#root > .react-reveal {
    min-height: 100%;
    height: 100%;
}